<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peace.squiz" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Quiz_Page_Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayQuiz"
            android:label="@string/title_activity_play_quiz"
            android:parentActivityName=".Quiz_Page_Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.peace.squiz.Quiz_Page_Home" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".Quiz_Page_Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.peace.squiz.Quiz_Page_Home" />
        </activity>
    </application>

</manifest>
